apex==0.9.10dev
Cython==0.29.28
cython_bbox==0.1.3
easydict==1.9
h5py==3.1.0
halpecocotools==0.0.0
matplotlib==3.4.3
motmetrics==1.2.0
munkres==1.1.4
natsort==8.1.0
numpy==1.19.5
opencv_contrib_python==4.5.5.62
pandas
pycocotools==2.0.4
setuptools==45.2.0
six==1.14.0
tensorboardX==2.5
timm
tqdm
pyyaml==5.2
scipy==1.1.0
torch==1.2.0
torchvision==0.4.0
pillow==6.2.2
gdown
gunicorn